*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #8000ff url("../../assets/images/woman.jpg");
    background-size: cover;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header,
section {
    width: 75%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        padding: 2em;
    }

    a.logo {
        font-weight: bold;
        font-size: 1.35rem;
        padding: 0;
    }

    nav ul {
        display: flex;

        a {
            padding: 2.5em 1.5em;
            display: block;
        }

        li.active a {
            font-weight: bold;
            background: white;
            color: black;
            margin-left: 2em;
            padding: 2.5em;
        }
    }
}

h1 {
    font-size: 5rem;
    width: 40%;
    margin-left: 2em;
    margin-top: 3.5em;
    line-height: 5rem;
}

// Overlay
.overlay {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 70% auto 8em;
    opacity: 0;
    transform: translateX(10%) scale(0.9);
    pointer-events: none;
}

.left,
.middle,
.right {
    height: 100vh;
    opacity: 0;
    transform: translateX(20%);
}

h2 {
    color: #8000ff;
    font-size: 5rem;
    margin: 0;
}

.left {
    padding: 8em 10em;

    p.subhead {
        color: black;
        font-size: 1.5rem;
        margin-top: -0.5rem;
        font-weight: 600;
    }
}

.cards {
    display: flex;
    margin-top: 5em;

    .card {
        padding: 2em;
        box-shadow: 15px 15px 53px rgba(128, 0, 255, 0.11);
        border-radius: 1em;

        strong {
            color: black;
        }

        p {
            color: #393241;
        }

        &:nth-of-type(2) {
            margin-left: 2em;
        }

        .cta {
            padding: 0.5em 1em;
            border-radius: 0.3em;
            text-decoration: none;
            background: #8000ff;
            margin-top: 1em;
            display: inline-block;
            color: white;
            font-weight: bold;
        }

        .cta:hover {
            background: #5c03b4;
        }

        .pay-once {
            background: #ead4ff;
            color: #3f007e;
        }

        .pay-once:hover {
            background: #d9b4fc;
        }
    }
}

.middle {
    padding-top: 10em;

    a {
        text-decoration: none;
        color: black;
        padding: 0.4em 0;
        font-size: 1.25rem;
        font-weight: 500;
        display: block;
    }

    .secondary a:hover {
        color: #8000ff;
    }

    .social-nav {
        margin-top: 3em;
        display: flex;
        gap: 1em;
    }

    a:hover svg path {
        fill: #8000ff;
    }
}

.right {
    display: grid;
    justify-items: center;
    background-color: #8000ff;

    .exit {
        margin-top: 1.5em;
        cursor: pointer;
    }

    .exit:hover {
        border: 3.5px solid white;
        border-radius: 50%;
    }

    .exit:hover path {
        fill: black;
    }
}
